*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

h4 {
  
  margin: 0 auto;
  padding: 20px 10px;
}

#calculo {
  display: none;
  text-align: center;
  font-size: 1.2rem;
  margin: 10px 0px;
  background-color: #333333ea;
  color: #fff;
  padding: 10px 0;
  border-radius: 5px;
}

.calculadora {
  width: 260px;
  padding: 20px;
  border-radius: 12px;
}

.display {
  height: 50px;
  background: #333;
  color: #fff;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
}

.botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  padding: 15px;
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.operador {
  background-color: #f9a600;
}

.limpiar {
  background-color: #ef5350;
  color: #fff;
  grid-column: span 2;
  width: 100px;
  border-radius: 10px;
  height: 35px;
  padding: 5px;
}

#igual {
  background-color: #64dd17;
  color: #fff;
}

.btn:hover {
  background-color: #3333339f;
}

.operador:hover {
  background-color: #f9a600ab;
}

#igual:hover {
  background-color: #64dd17b3;
}

.limpiar:hover {
  background-color: #ef5350b3;
}